<!DOCTYPE html>
<html>
<head>
  <title>mapblog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%
   # if I am cool, I will generate the content to remove the #'s here
   nav_links = [
      [ "index", "Home", ],
      [ "posts", "Blog", ],
#      [ "backpacking", "Backpacking", ],
#      [ "software", "Software", ],
#      [ "games", "Games", ],
#      [ "about", "About", ],
#      [ "contact", "Contact", ],
   ]

  # used to highlight nav location
  highlight_me = request.fullpath;
%>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Matthew Alan Phillips</a>
      <div class="nav-collapse">
        <ul class="nav">
          <% nav_links.each do |pair| %>
            <li <%= (Regexp.new(pair[0]).match(highlight_me)) ? 'class="active"'.html_safe : '' %> >
	        <a href="<%= pair[0] %>"><%= pair[1] %></a>
            </li>
	  <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
