<!DOCTYPE html>
<html>
<head>
  <title>mapblog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %> 
 <!-- enabling this makes mobile the right size, but look horrible -->
 <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
</head>
<body>

<%
   nav_links = [
      [ "index", "Home", ],
      [ "posts", "Blog", ],
      [ "backpacking", "Backpacking", ],
      [ "software", "Software", ],
      [ "games", "Games", ],
   ]

  # used to highlight nav location
  highlight_me = request.fullpath;
%>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <% nav_links.each do %>
          <span class="icon-bar"></span>
	      <% end %>
      </a>
      <a class="brand" href="/">Matthew Alan Phillips</a>
      <div class="nav-collapse">
        <ul class="nav">
          <% nav_links.each do |pair| %>
            <li <%= (Regexp.new(pair[0]).match(highlight_me)) ? 'class="active"'.html_safe : '' %> >
	        <a href="<%= pair[0] %>"><%= pair[1] %></a>
            </li>
	        <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
